@import url('https://fonts.googleapis.com/css?family=Russo+One');
* {
	max-width: 56vw;
}

body {
	background-image: url('./cool-background.png');
	background-size: cover;
	font-family: Russo One;
	min-height: 84.5vh;
}

#drum-pad {
	border: 5px solid azure;
	margin: 70% 5%;
	min-width: 90vw;
	position: relative;
	right: 1vw;
	height: 52vh;
}

#buttons-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5%;
	margin: 5% 100% 5% 5%;
	font-size: 2rem;
}

#buttons-grid button {
	box-shadow: 3px 3px 3px 3px rgb(49, 49, 49);
	border-radius: 5px;
	min-width: 26vw;
	min-height: 10vh;
	margin-right: 0.5vw;
	background-color: azure;
}

#buttons-grid button:focus {
	outline: none;
}

#slider {
	position: relative;
	left: 25vw;
	bottom: 5vh;
}

#slider span {
	position: relative;
	right: 22vw;
	top: 4.75vh;
	font-size: 1.2rem;
}

#switch {
	position: relative;
	top: 11.6vh;
	left: 4vw;
}

#switch span {
	font-size: 1.1rem;
	position: relative;
	bottom: 1vh;
	right: 1vw;
}

#font-buttons {
	position: relative;
	left: 35.5vw;
	bottom: 4vh;
	font-size: 1.1rem;
}

#footer {
	color: black;
	font-size: 1.5rem;
	position: relative;
	left: 32vw;
	top: -2vh;
}

#footer:hover {
	color: azure;
	text-decoration: none;
}

/* Media query for PC, Laptop Screens (Some mobile versions and landscape view haven't been configured) */
@media (min-width: 800px) {
	* {
		max-width: 51vw;
	}
	body {
		overflow: hidden;
	}
	#drum-pad {
		margin: 20% 55%;
		min-width: 45vw;
		max-height: 45vh;
	}
	#buttons-grid button {
		min-width: 6vw;
		font-size: 1.5em;
	}
	#slider {
		width: 20vw;
		top: -33vh;
		left: 20vw;
		margin: 0% 8%;
	}
	#slider span {
		font-size: 3em;
		right: -4vw;
		top: 0vh;
	}
	#switch {
		top: -33vh;
		left: 27vw;
	}
	#switch span {
		font-size: 3.2em;
		top: 0.1vh;
	}
	#font-buttons {
		font-size: 2em;
		bottom: 26.5vh;
		left: 25.5vw;
	}
	#footer {
		top: -18vh;
		left: 20vw;
	}
}
